*{
    margin:0;
    padding:0;
}
body{
    background-color:#f0f0f0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
#calculator{
    background-color:rgb(57, 55, 51);
    max-width:500px;
    overflow:hidden;
    border-radius:20px;
    border:5px solid white;
}
#display{
    width:100%;
    font-size:4rem;
    padding:10px;
    border:none;
    background-color:rgb(41, 37, 38);
    color:white;
}
button{
    height:80px;
    width:80px;
    background-color:rgb(41, 37, 38);
    color:white;
    font-size:2rem;
    font-family:sans-serif;
    font-weight:bold;
    border-radius:50%;
    border:0.5px solid black;
    display:flex;
    justify-content:center;
    align-items:center;
}
button:hover{
    background-color:rgb(61, 60, 60);
}
#keys{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    gap:8px;
    cursor:pointer;
    padding:15px;
    justify-content:center;
    align-items:center;
}
.operator-btn{
    background-color:rgb(189, 127, 13);
}
#signature{
    display:flex;
    flex-direction:column;
    align-items:flex-end;
}